.card {
  position: relative;
  background-color: var(--color-white);
  width: 22rem;
  min-height: 14rem;
  max-height: 32rem;
  border-radius: var(--radius-extra-large);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card-img-hor {
  width: 40%;
}

.card-img {
  width: 100%;
  height: 200px;
  position: relative;
}

.card-img-hor img,
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-badge {
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: var(--size-5);
  font-size: var(--size-10);
  font-weight: var(--weight-semibold);
  z-index: 1;
}

.card-badge:hover {
  background-color: var(--primary-light-color);
}

.card-badge .icon {
  padding: var(--size-3);
  font-size: var(--size-11);
}

.card-badge-left {
  border-bottom-right-radius: var(--radius-extra-large);
}

.card-badge-right {
  border-bottom-left-radius: var(--radius-extra-large);
}

.card-badge-ver {
  font-size: var(--size-11);
}

.card-badge-hor {
  font-size: var(--size-7);
}

.card-title.brief-overlay {
  top: 40%;
  color: var(--color-white);
  height: fit-content;
  width: 100%;
  background-color: var(--primary-extra-light-color);
  padding: 0 var(--size-5);
}

.card-head{
  height: 100%;
}

.card-title,
.card-title-hor {
  padding: var(--size-5);
  flex-wrap: wrap;
  text-align: left;
}

.card-title-hor p, .card-title p {
  font-weight: var(--weight-bold);
  font-size: var(--size-10);
}

.text-card-brief {
  max-height: 14rem;
  }

.text-card-brief,
.card-brief {
  overflow-y: scroll;
  white-space: normal;
  padding: var(--size-5) var(--size-9);
}

.card-brief {
  max-height: 5rem;
  padding: var(--size-5) var(--size-9);
  font-weight: var(--weight-medium);
}

.card-footer {
  padding: var(--size-5);
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-btns {
  max-width: 60%;
}

.cta-btns,
.card-icons {
  display: flex;
}

.card-icons {
  width: 30%;
}

.cta-icons {
  width: var(--size-15);
  height: var(--size-15);
  border-radius: var(--radius-rounded);
  cursor: pointer;
  color: var(---color-black);
  transition: background-color 0.1s ease-in-out;
}

.cta-icons:hover {
  background-color: var(--color-grey);
}

.cta-icons:hover [class^="f"] {
  color: var(--color-white);
}

@media screen and (max-width: 480px) {
  .card-title h2{
    font-size: var(--size-11);
  }

  .card-brief{
    padding: 0.5rem 0;
  }

  .cta-btns span {
    display: none;
  }

  .card-footer {
    justify-content: space-between;
  }

  .card-title-hor {
    width: 60%;
  }

  .card-img-hor {
    width: 40%;
  }

  .card-img-hor img{
    object-fit: contain;
  }

  .card-badge {
    font-size: var(--size-9);
  }

  .card-icons {
    width: 40%;
  }
}
