.input-group {
  flex-direction: column;
  width: 100%;
}

.input-section{
  margin: var(--size-9) 0;
  text-align: left;
}


/* Input basic styles */
.input-label {
  margin-bottom: var(--size-5);
}

.input-mandatory {
  color: var(--input-fail);
  font-size: inherit;
}

.input-sm {
  font-size: var(--size-9);
  padding: var(--size-3) var(--size-5);
}

.input-md {
  font-size: var(--size-10);
  padding: var(--size-5) var(--size-6);
}

.input-lg {
  font-size: var(--size-11);
  padding: var(--size-6) var(--size-6);
}

.input-round {
  border-radius: var(--radius-rounded);
}

.input-corner {
  border-radius: var(--radius-large);
}

.active:focus {
  border-color: var(--color-black);
  background-color: var(--input-active);
}


/* Validation styles */
.input-validation {
  display: inline-flex;
  align-items: center;
  font-weight: var(--weight-semibold);
  margin-top: var(--size-2);
}

.input-validation-sm {
  font-size: var(--size-7);
}

.input-validation-md {
  font-size: var(--size-8);
}

.input-validation-lg {
  font-size: var(--size-9);
}

.input-validation-success {
  color: var(--input-success);
}

.input-validation-fail {
  color: var(--input-fail);
}

.input-success {
  border-color: var(--input-success);
}

.input-fail {
  border-color: var(--input-fail);
}

.input-validation .validation-icon {
  font-size: inherit;
  margin-right: var(--size-3);
}

.form-input{
  margin: var(--size-9) 0;
  font-weight: var(--weight-semibold);
  font-size: var(--size-9);
}

.input-required::after{
  content: "*";
  font-size: var(--size-11);
  font-weight: var(--weight-semibold);
  color: var(--input-required);
}

input:valid ~ .input-validation-success{
  display: block;
}

input:valid ~ .input-validation-fail, .validate{
  display: none;
}


/* Radio input */
.radio-section{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.radio-section div{
  display: flex;
  align-items: center;
  margin: 0 var(--size-7);
}

.radio-section label{
  margin-right: var(--size-11);
}

.radio-section input{
  width: auto;
  margin-right: var(--size-5);
}


/* Checkbox input */
.input-checkbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.input-section input[type="checkbox"]{
  width: auto;
  margin-right: var(--size-9);
}

.input-section .checkbox{
  transform: scale(1.2);
}


/* Dropdown input */
.dropdown{
  padding: var(--size-5);
  font-size: var(--size-9);
  font-family: var(--primary-font-family);
  font-weight: var(--weight-normal);
  border: 2px solid var(--color-grey);
  border-radius: 5px;
}


/* Textarea input */
.input-textarea{
  display: flex;
  flex-direction: column;
}

.input-textarea textarea{
  max-width: 100%;
  max-height: 200px;
}


@media screen and (min-width: 769px) {
  .form-input{
    font-size: var(--size-10);
  }
  
  .input-required::after{
    font-size: var(--size-13);
  }
}
