/* Avatar CSS */
.avatar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: var(--size-2) solid var(--color-grey);
}

.avatar img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Round avatars */
.avatar-sm {
  width: var(--size-17);
  height: var(--size-17);
  font-size: var(--size-8);
}

.avatar-md {
  width: var(--size-20);
  height: var(--size-20);
  font-size: var(--size-9);
}

.avatar-lg {
  width: var(--size-25);
  height: var(--size-25);
  font-size: var(--size-10);
}

.avatar-xl {
  width: 7rem;
  height: 7rem;
  font-size: var(--size-12);
}

/* Square avatar */
.avatar-square {
  border-radius: 0;
}

/* Round corners avatar */
.avatar-corner {
  border-radius: var(--radius-large);
}

/* Round avatar */
.avatar-round{
  border-radius: var(--radius-rounded);
}

.avatar-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--color-white);
  font-weight: var(--weight-semibold);
}
