@import url("../../styles.css");
@import url("../../stylesheets/navbar.css");
@import url("../../stylesheets/footer.css");
@import url("../../stylesheets/sidebar.css");

.content-doc {
  height: 100%;
  z-index: 1;
}

.main-section-header {
  margin: var(--size-5) 0;
}

.main-section {
  margin: var(--size-15) 0;
  z-index: 1;
}

.main-section p {
  max-width: 100%;
  line-height: 1.75;
}

.code-snippet {
  position: relative;
  z-index: 0;
  width: 100%;
}

.main-section code {
  font-size: var(--size-10);
  font-weight: var(--weight-normal);
  color: var(--primary-dark-color);
  margin: var(--size-11) auto 0;
  background-color: var(--primary-extra-light-color);
  padding: 0.25rem;
  border-radius: 5px;
}

@media screen and (max-width: 769px) {
  .content-doc {
    text-align: center;
    padding: 0 var(--size-13);
  }

  .main {
    padding: 0 var(--size-9);
  }
}

@media screen and (max-width: 480px) {
  .content-doc {
    text-align: center;
    padding: 0;
  }
}
