@import url("../../styles.css");
@import url("../../stylesheets/navbar.css");
@import url("../../stylesheets/footer.css");
@import url("../../stylesheets/sidebar.css");
@import url("./getstarted.css");
@import url("../../components/grid/grid.css");

.example {
  width: 100%;
  margin: var(--size-9) 0;
  display: flex;
  flex-direction: column;
  padding: var(--size-5);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
