@import url("../../styles.css");
@import url("../../stylesheets/navbar.css");
@import url("../../stylesheets/footer.css");
@import url("../../stylesheets/sidebar.css");
@import url("./getstarted.css");
@import url("../../components/input/input.css");

.example {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--size-5);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.form{
    background-color: var(--primary-extra-light-color);
    padding: var(--size-5);
    border-radius: 10px;
    width: 100%;
}

.submit-btn{
    margin: var(--size-9) 0;
}
