@import url("../../styles.css");
@import url("../../stylesheets/navbar.css");
@import url("../../stylesheets/footer.css");
@import url("../../stylesheets/sidebar.css");
@import url("./getstarted.css");
@import url("../../components/modal/modal.css");

.example {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: var(--size-5);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
