.header-basic {
  width: 100%;
  position: sticky;
  background-color: var(--primary-light-color);
}

.nav-logo {
  font-weight: var(--weight-bold);
  font-size: var(--size-11);
  color: white;
  margin: auto 0;
}

.hamburger {
  margin-left: auto;
}

.hamburger .fas {
  color: var(--color-white);
  font-size: var(--size-13);
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  color: var(--color-white);
  flex-basis: 30%;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
}

.nav-item:nth-child(n + 2) {
  margin: 0 var(--size-11);
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-list-close-btn {
  position: absolute;
  top: var(--size-11);
  left: var(--size-11);
}

.ecom-nav-cta {
  outline: var(--size-2) solid var(--color-white);
}

.search-input {
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-basis: 50%;
}

.search-icon {
  font-size: var(--size-11);
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  color: var(--color-grey);
}

.search-input input {
  padding-left: var(--size-17);
}

.ecom-heart-icon,
.ecom-basket-icon {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mobile-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin-left: 100%;
  transition: 0.1s width linear;
  overflow: hidden;
}

.header-mobile {
  width: 100%;
  height: 4rem;
  position: static;
  background-color: var(--primary-light-color);
}

.mobile-sidebar-close-btn {
  position: absolute;
  top: 5%;
  left: 5%;
  width: var(--size-17);
  height: var(--size-17);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mobile-navigation {
  height: 100%;
  flex-grow: 1;
}

.mobile-navigation .ecom-nav-cta {
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .search-input {
    display: none;
  }

  .search-icon {
    font-size: var(--size-13);
    color: var(--color-white);
  }
}

@media screen and (min-width: 769px) {
  .hamburger,
  .nav-list-close-btn {
    display: none;
  }

  .nav-list {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .mobile-nav-list {
    width: 0;
    transition: width 0.2s linear;
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    margin: var(--size-25) var(--size-11) 0;
    flex-grow: 1;
  }

  .nav-item {
    width: 100%;
  }

  .ecom-nav-cta {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    font-size: var(--size-11);
    outline: var(--size-2) solid var(--primary-light-color);
  }
}
