.header {
  width: 100%;
  position: sticky;
  background-color: var(--primary-light-color);
  z-index: 9999;
}

.logo {
  font-weight: var(--weight-bold);
  font-size: var(--size-13);
  color: white;
}

.hamburger-menu {
  margin-left: auto;
}

.hamburger-menu .fas {
  color: var(--color-white);
  font-size: var(--size-13);
}

.menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar {
  color: var(--color-white);
}

.menu-item {
  display: inline-block;
  outline: var(--size-2) solid var(--color-white);
}

.nav-close-btn {
  position: absolute;
  top: var(--size-11);
  left: var(--size-11);
}

@media screen and (min-width: 769px) {
  .hamburger-menu,
  .nav-close-btn {
    display: none;
  }

  .navbar {
    display: block;
  }

  .active {
    color: var(--primary-light-color);
    background-color: var(--color-white);
    outline: none;
  }

  .menu-list:nth-last-child(1) {
    margin-left: auto;
  }
}

@media screen and (max-width: 769px) {
  .mobile-navbar {
    width: 0;
    transition: width 0.2s linear;
    display: block;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .menu {
    flex-direction: column;
    margin: var(--size-25) var(--size-11) 0;
    flex-grow: 1;
  }

  .menu-list {
    width: 100%;
  }

  .menu-item {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    font-size: var(--size-11);
    outline: var(--size-2) solid var(--primary-light-color);
  }

  .active {
    color: var(--color-white);
    background-color: var(--primary-light-color);
    outline: none;
  }
}
