html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.5rem 0 2rem 0;
  font-family: var(--primary-font-family);
}

p {
  margin: 1.5rem 0;
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
}

/* <---fa-icons---> */
[class^="f"] {
  font-size: 30px;
  color: inherit;
}

/* @media screen and (min-width: 600px) {
  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.4rem;
  }
} */
