/* Flexbox */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start{          
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Postioning */
.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

/* Border */
.border-2{
  border: var(--size-2) solid var(--color-grey);
}
