:root {
  /* --primary-color: ;
  --primary-dark-color: ;
  --primary-light-color: ;
  --secondary-color: ; */
  --background-color: rgba(137, 43, 226, 0.2) ;
  /* --text-primary: ;
  --text-black-light:;
  --text-black-hover: ;
  --text-hover-background:; */
  --primary-font-family: "Montserrat", sans-serif;
  /* --font-size-sm:;
  --font-size-lg:; */
}
