.alert{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  height: 50px;
  padding: 12px;
  border-radius: 8px;
  margin: 1rem 0;
}

.alert i{
  font-size: 1.5rem;
  margin-right: 1rem;
}

.alert-primary{
  background-color: #93c5fd; /*300*/
  color: #1e40af; /*800*/
}

.alert-primary i{
  color: #1e3a8a; /*900*/
}

.alert-success{
  background-color: #6eeb7b;
  color: #065f46;
}

.alert-success i{
  color: #064e3b;
}

.alert-warning{
  background-color: #fcd34d;
  color: #92400e;
}

.alert-warning i{
  color: #78350f;
}

.alert-error{
  background-color: #fca5a5;
  color: #991b1b;
}

.alert-error i{
  color: #7f1d1d;
}
