@import url("../stylesheets/index.css");

.wrapper {
  position: relative;
}

.header {
  width: 100%;
  position: sticky;
  background-color: var(--primary-light-color);
}

.logo {
  font-weight: var(--weight-bold);
  font-size: var(--size-13);
  color: white;
}

.hamburger-menu {
  margin-left: auto;
}

.hamburger-menu .fas {
  color: var(--color-white);
  font-size: var(--size-13);
}

.menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar {
  color: var(--color-white);
}

.menu-items {
  display: inline-block;
  outline: var(--size-2) solid var(--color-white);
}

.nav-close-btn {
  position: absolute;
  top: var(--size-11);
  left: var(--size-11);
}

.content-title {
  font-size: var(--size-18);
}

.content-brief {
  font-size: var(--size-10);
}

.hero img {
  width: 100%;
}

.footer {
  background-color: var(--secondary-color);
  color: var(--secondary-light-color);
}

.footer-social {
  font-size: var(--size-11);
  font-weight: var(--weight-semibold);
}

.footer-brief {
  font-size: var(--size-9);
}

@media screen and (min-width: 769px) {
  .hamburger-menu,
  .nav-close-btn {
    display: none;
  }

  .navbar {
    display: block;
  }

  .hero {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .mobile-navbar {
    width: 0;
    transition: width 0.2s linear;
    /* margin: 10rem 3rem 0; */
    display: block;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .menu {
    flex-direction: column;
    margin: 10rem 3rem 0;
    flex-grow: 1;
  }

  .menu-items {
    width: 100%;
    margin: 1rem 0;
    font-size: var(--size-11);
    outline: var(--size-2) solid var(--primary-light-color);
  }
  .main {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .content {
    margin-left: 0;
    /* padding: 0 var(--size-13); */
    text-align: center;
  }
  .hero {
    width: 60%;
    margin: 0 auto;
  }
  .footer-info,
  .footer-brief {
    margin-left: 0;
  }
  .footer-social-icons {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .main {
    gap: 1rem;
  }

  .content-title {
    font-size: var(--size-14);
  }

  .content-brief {
    font-size: var(--size-9);
  }

  .hero {
    width: 75%;
  }
}
